name: Borsa Robotu

on:
  schedule:
    # SADECE YENİ PLAN: Pazar (0) ve Çarşamba (3) 22:00 (Türkiye Saati)
    - cron: '0 19 * * 0,3'
  workflow_dispatch:

jobs:
  calistir:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Kütüphaneleri Yükle
        run: |
          pip install pandas numpy yfinance scikit-learn gspread
      - name: Analizi Başlat
        env:
          G_SERVICE_ACCOUNT: ${{ secrets.G_SERVICE_ACCOUNT }}
        run: python main.py
        
